.math {
    text-align: left;
}

.eqno {
    float: right;
}

.wy-nav-content {
    max-width: none; /* 取消页宽限制 */
}

pre {
    white-space: pre-wrap !important;
    word-break: break-all; /* 代码块自动换行 */
}
